<div class="content">

    <h2 class="section-header is-bold is-uppercase">Skills</h2>
    <div class="skill-group">
        <h3 class="is-bold">Web Technologies</h3>

        <div class="skill-list">
            <app-skill icon_name="typescript" skill="TypeScript/JavaScript"></app-skill>
            <app-skill icon_name="angularjs" skill="Angular (including RxJS)"></app-skill>
            <app-skill icon_name="nodejs" skill="Node.js"></app-skill>
            <app-skill icon_name="html5" skill="HTML"></app-skill>
            <app-skill icon_name="css3" skill="CSS/SCSS/LESS"></app-skill>
            <app-skill icon_name="react" skill="React"></app-skill>
            <app-skill icon_name='python' skill='Python'></app-skill>
            <app-skill icon_name="flask" skill="Flask"></app-skill>
            <app-skill icon_name='postgresql' skill='SQL/PostgreSQL'></app-skill>
            <app-skill icon_name='graphql' skill='GraphQL'></app-skill>
            <app-skill icon_name='figma' skill='Figma'></app-skill>
            <app-skill icon_name="" skill=".NET"></app-skill>
        </div>
    </div>

   <div class="skill-group">
        <h3 class="is-bold">Tools and Environments</h3>

        <div class="skill-list">
            <app-skill icon_name='git' skill='Git'></app-skill>
            <app-skill icon_name='github' skill='GitHub'></app-skill>
            <app-skill icon_name='azure' skill='Azure DevOps'></app-skill>
            <app-skill icon_name='visualstudio' skill='Visual Studio'></app-skill>
            <app-skill icon_name='vscode' skill='VS Code'></app-skill>
            <app-skill icon_name='linux' skill='Linux'></app-skill>
            <app-skill icon_name="" skill="GIS/ESRI"></app-skill>
        </div>
    </div>

    <div class="skill-group">
        <h3 class="is-bold">Additional Skills</h3>

            <div class="is-bold">Agile Development</div>
            <div class="is-bold">Quick Learner</div>
            <div class="is-bold">Problem Solving</div>
            <div class="is-bold">Creativity</div>
            <div class="is-bold">Leadership</div>
            <div class="is-bold">Keeping plants alive</div>
            <div class="is-bold">Useless movie trivia</div>
    </div>
</div>
