<div class="content">

    <h2 class="section-header is-bold is-uppercase">Skills</h2>

    <div class="skill-group">
        <h3 class="is-bold">Programming Languages</h3>

        <div class="skill-list">
            <app-skill icon_name='typescript' skill='TypeScript/JavaScript'></app-skill>
            <app-skill icon_name='c' skill='C'></app-skill>
            <app-skill icon_name='cplusplus' skill='C++'></app-skill>
            <app-skill icon_name='csharp' skill='C#'></app-skill>
            <app-skill icon_name='python' skill='Python'></app-skill>
            <app-skill icon_name='html5' skill='HTML5'></app-skill>
            <app-skill icon_name='css3' skill='SCSS/CSS'></app-skill>
            <app-skill icon_name='graphql' skill='GraphQL'></app-skill>
            <app-skill icon_name='postgresql' skill='SQL/PostgreSQL'></app-skill>
        </div>
    </div>

    <div class="skill-group">
        <h3 class="is-bold">Web Development</h3>

        <div class="skill-list">
            <app-skill icon_name='html5' skill='HTML5'></app-skill>
            <app-skill icon_name='css3' skill='SCSS/CSS'></app-skill> 
            <app-skill icon_name='angularjs' skill='Angular'></app-skill> 
            <app-skill icon_name='nodejs' skill='Node.js'></app-skill> 
            <app-skill icon_name="react" skill="React"></app-skill>
            <app-skill icon_name="flask" skill="Flask"></app-skill>
            <app-skill icon_name="dotnet" skill=".NET"></app-skill>
            <app-skill icon_name="" skill="Entity Framework"></app-skill>
            <app-skill icon_name="" skill="Web API"></app-skill>
        </div>
    </div>

   <div class="skill-group">
        <h3 class="is-bold">Tools</h3>

        <div class="skill-list">
            <app-skill icon_name='git' skill='Git'></app-skill>
            <app-skill icon_name='linux' skill='Linux'></app-skill>
            <app-skill icon_name='visualstudio' skill='Visual Studio'></app-skill>
            <app-skill icon_name='vscode' skill='VS Code'></app-skill>
            <app-skill icon_name='azure' skill='Azure DevOps'></app-skill>
        </div>
    </div>

    <div class="skill-group">
        <h3 class="is-bold">Additional Skills</h3>

            <div class="is-bold">Agile Development</div>
            <div class="is-bold">Problem Solving</div>
            <div class="is-bold">Creativity</div>
            <div class="is-bold">Leadership</div>
            <div class="is-bold">Keeping plants alive</div>
    </div>
</div>
