<div class="content">
    <h2 class="is-bold">Final Updates</h2>

    <div class="seg">
        <p>The time has come for the final showcase! Between the previous iteration and now, the main changes have
          just been bug fixes and general polishing - primarily behind the scenes. Additionally, there was plenty of
        administrative/logistic work to be done in order to prepare for the <a href="https://494showcase.com/"
                                                                               target="_blank">Umich/EMU
            Showcase</a>. I hope to find time to improve upon this project in the future. There is so much that can
          be done with natural language processing in general, and the ways it can be applied to procedural story
          generation are endless.</p>
    </div>
</div>
