<div class="content">
    <h2 class="section-header is-bold is-uppercase">Experience</h2>

    <h3 class="work-leadership is-bold">Work and Leadership</h3>

    <div class="seg">
      <h4 class="is-bold">Big Armor - Full Stack Software Engineer</h4>
      <h5>MARCH 2022 - PRESENT | Grand Rapids, MI</h5>
      <ul>
          <li>Develop and maintain frontend UI using Angular.</li>
          <li>Develop and maintain Node.js backend and PostgreSQL database using TypeORM and Apollo/GraphQL.</li>
          <li>Work with GitLab CI/CD and Google Cloud technologies.</li>
      </ul>
    </div>

    <div class="seg">
      <h4 class="is-bold">ZF Group - Software Engineer</h4>
      <h5>JULY 2021 - APRIL 2022 | Livonia, MI</h5>
      <ul>
          <li>Designed software components for embedded systems in accordance with strict requirements.</li>
          <li>Designed AUTOSAR software component descriptions with modeling tools.</li>
          <li>Optimized the design in terms of resources (RAM/ROM run-time) and other criteria.</li>
          <li>Close international cooperation with other departments, customers, and projects.</li>
      </ul>
    </div>

    <div class="seg">
      <h4 class="is-bold">WolverineSoft Studios - Game Programmer</h4>
      <h5>DECEMBER 2020 - JULY 2021 | Ann Arbor, MI</h5>
      <ul>
        <li>Worked on the programming team on student-made video games.</li>
        <li>Collaborated with 30+ people across various disciplines.</li>
        <li>Utilized an Agile workflow to ship titles in a tight deadline.</li>
      </ul>
    </div>
    <div class="seg">
        <h4 class="is-bold">University of Michigan - Web Developer</h4>
        <h5>NOVEMBER 2019 - JULY 2021 | Ann Arbor, MI</h5>
        <ul>
            <li>Designed, developed and maintained a WordPress website for the Michigan Materials Research Institute
                within the University of Michigan used by hundreds of faculty and staff.</li>
            <li>Implemented features for user interactivity using HTML, CSS, and JavaScript.</li>
        </ul>
    </div>
    <div class="seg">
        <h4 class="is-bold">Culver Academies - Coding Instructor</h4>
        <h5>MAY 2019 - AUGUST 2019 | Culver, IN</h5>
        <ul>
            <li>Taught and designed curriculum for three classes featuring topics in Python programming and web development.</li>
            <li>Gave lectures and created projects to lead students through the fundamentals of Python and basic object-oriented
                programming.</li>
            <li>Led interactive lessons to guide students through the process of creating a simple personal website.</li>
        </ul>
    </div>
    <div class="seg">
        <h4 class="is-bold">Living Arts - Peer Mentor</h4>
        <h5>AUGUST 2018 - APRIL 2019 | University of Michigan Arts Engine | Ann Arbor, MI</h5>
        <ul>
            <li>Led a group of students through interdisciplinary projects and workshops.</li>
            <li>Provided information and resources to current and incoming students.</li>
            <li>Led recruitment events to gauge interest for following semesters.</li>
        </ul>
    </div>
    <div class="seg">
        <h4 class="is-bold">Brandywine School District - IT Intern</h4>
        <h5>AUGUST 2016 - AUGUST 2017 | Niles, MI</h5>
        <ul>
            <li>Troubleshot technology-related issues for students and staff of three schools and an administration building.</li>
            <li>Set up enterprise networks for school computers.</li>
            <li>Set up hardware and software for school computers.</li>
        </ul>
    </div>
    <div class="seg">
        <h4 class="is-bold">C & S Machine Tool Inc. - Team Member</h4>
        <h5>JUNE 2016 - AUGUST 2016 | Niles, MI</h5>
        <ul>
            <li>Produced metal parts for medical and aerospace industries, among others.</li>
            <li>Operated CNC and manual machinery such as mills, lathes, and laser engravers.</li>
            <li>Inspected and provided quality control of parts.</li>
        </ul>
    </div>

    <h3 class="education is-bold">Education</h3>
    <h4 class="is-bold">University of Michigan | Ann Arbor, MI</h4>
    <h5>Graduated APRIL 2021 | B.S.E Computer Science</h5>
</div>
