<div class="content">
    <h2 class="section-header is-bold is-uppercase">About Me</h2>
    <p>Hi, I'm Michael! I'm a software engineer (and occasional web/game developer) with a passion for using code to make a positive impact. I'm constantly working toward my goal of learning as much as I can and utilizing my skills to improve myself and the world around me. I love finding ways to challenge myself and to combine my love of coding with my more creative side. I don't think there will ever be a point where I'll be willing to stop making progress!</p>

    <br>

    <div class="extra-content-wrapper">
        <div class="facts-list">
            <h3 class="section-header is-bold">Here's some more information about me that you didn't ask for:</h3>
            <ul>
                <li>I have a cat named Frankie</li>
                <li>I love all things horror</li>
                <li>I listen to a lot of punk and metal music</li>
                <li>I can't whistle</li>
                <li>I have way too many houseplants</li>
                <li>I play a lot of TTRPGs</li>
                <li>I love to cook and bake</li>
            </ul>
        </div>

        <div class="img-wrapper">
            <img src="../../assets/img/me.png" alt="me" />
        </div>
    </div>
</div>
