<div class="app-wrapper">
    <div class="main-section">
      <div class="img-wrapper" *ngIf="image">
        <img src="{{ image.urls.small }}" />
      </div>

      <div class="content-wrapper">
        <div class="header">
          <h1>{{ dateTime | async | date: "shortTime" }}</h1>
          <h2>{{ dateTime | async | date: "fullDate" }}</h2>
        </div>

        <div class="bookmarks">
          <div class="bookmark-group">
            <div class="group-name"></div>
            <div class="bookmark">
              <a href="https://www.reddit.com/" target="_blank">Reddit</a>
            </div>
            <div class="bookmark">
              <a href="https://mail.google.com/mail/u/0/#inbox" target="_blank"
                >Gmail</a
              >
            </div>
            <div class="bookmark">
              <a
                href="https://www.discogs.com/user/mkstowe/collection"
                target="_blank"
                >Discogs</a
              >
            </div>
          </div>

          <div class="bookmark-group">
            <div class="group-name"></div>
            <div class="bookmark">
              <a href="https://github.com/mkstowe" target="_blank">Github</a>
            </div>
            <div class="bookmark">
              <a href="https://linkedin.com/in/mkstowe" target="_blank"
                >Linkedin</a
              >
            </div>
            <div class="bookmark">
              <a href="https://mkstowe.com" target="_blank">Me</a>
            </div>
          </div>

          <div class="bookmark-group">
            <div class="group-name"></div>
            <div class="bookmark">
              <a href="https://imdb.com" target="_blank">IMDb</a>
            </div>
            <div class="bookmark">
              <a href="https://amazon.com" target="_blank">Amazon</a>
            </div>
            <div class="bookmark">
              <a href="https://2e.aonprd.com/" target="_blank">Pathfinder</a>
            </div>
          </div>

          <div class="bookmark-group">
            <div class="bookmark">
              <a href="https://us-east-2.console.aws.amazon.com/console/home?region=us-east-2" target="_blank">AWS</a>
            </div>
            <div class="bookmark">

            </div>
            <div class="bookmark">

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
