<div class="content">
    <h2 class="is-bold">Pre-Beta I / Pre-Beta II</h2>

    <div class="seg">
        <h3 class="blog_topic"><strong>Checkpoint System / Return to Hub</strong></h3>
        <p>I implemented a checkpoint system so that the player does not have to completely restart a level upon
            death. Each time they use one of the moving platforms to get to a new floor of a dungeon, they unlock a
            checkpoint that will later be available in a UI selection for them to revisit later on from the hub.</p>
        <p>Additionally, I set it up so that the player can choose to return to the hub at any time during a dungeon.
            This way they can easily go back if they realize they needed to get something else, or if they
            accidentally enter an area that they have already cleared.</p>
    </div>

    <div class="seg">
        <h3 class="blog_topic"><strong>More Bug Fixes</strong></h3>
        <p>As always, there have been more bugs to hunt down and take care of. I spent plenty of time going through
            various scripts connected to the level generation system and fixing some bugs that managed to make their
            way through. Bugs are always an ongoing struggle, so there's sure to be more later on as well.</p>
    </div>

    <div class="seg">
        <h3 class="blog_topic"><strong>Playtesting</strong></h3>
        <p>Again, I spent more time playing through what has been made so far in order to provide any feedback to
            the other pods, find ways to improve the systems that I had already implemented, and to see if I could
            expose any more bugs.</p>
    </div>

    <div class="seg">
        <h3 class="blog_topic"><strong>Meetings</strong></h3>
        <p>Once again I met with the other level designers quite a bit the past two weeks, as well as the normal
            studio-wide meetings. This week I also met with one of the leads in the audio department to help
            troubleshoot some problems with audio playback related to certain scripts. We managed to clean up the
            code a bit and get the audio to properly trigger at just the right times.</p>
    </div>
</div>
