<div class="content">
    <h2 class="is-bold">Project Variegata</h2>
    <div class="seg">
        <p>The goal of Project Variegata is to explore ways that machine learning and other programming techniques can
            be used to create comprehensive and engaging stories to be applied to various types of media (notably video
            games).</p>
        <p>By automating the process of connecting plot points in different ways on the fly, the consumer can
            have a compelling story presented to them that continually changes based on their choices. No two paths are
            necessarily the same.</p>

        <p>Check out a high-level overview of Project Variegata
            <a href="/static/media/Project%20Variegata.pdf" target="_blank">here</a>.</p>
    </div>

    <div class="seg">
        <p><a href="/projects/variegata/2021/02/03/">February 3: Research, Markets, and Stakeholders</a></p>
        <p><a href="/projects/variegata/2021/02/10/">February 10: Initial Experiments</a></p>
        <p><a href="/projects/variegata/2021/02/17/">February 17: Keyword Extraction</a></p>
        <p><a href="/projects/variegata/2021/03/03/">March 3: Search Engine and Graphs</a></p>
        <p><a href="/projects/variegata/2021/03/10/">March 10: First Prototype</a></p>
        <p><a href="/projects/variegata/2021/03/17/">March 17: Debugging Limbo</a></p>
        <p><a href="/projects/variegata/2021/03/24/">March 24: Keyword-Based Model</a></p>
        <p><a href="/projects/variegata/2021/03/31/">March 31: Bringing It All Together</a></p>
        <p><a href="/projects/variegata/2021/04/07/">April 7: Story Improvement Attempts</a></p>
        <p><a href="/projects/variegata/2021/04/21/">April 21: Final Updates</a></p>
    </div>
</div>
