@import "../../variables.scss";

.project-content {
    margin-top: 40px;
    display: flex;
    gap: 40px;
}

.project-description {
    :first-child {
        margin-top: 0;
    }

    :last-child {
        margin-bottom: 0;
    }
}

img, iframe {
    max-width: 450px;
    max-height: 350px;
}

iframe {
    width: 450px;
    height: 260px;
}

@media screen and (max-width: 1500px) {
    .project-content {
        display: block;
    }

    .project-img {
        width: 60%;
        margin: 0 auto 30px auto;
    }

    img, iframe {
        width: 100%;
        max-width: 500px;
    }

    iframe {
        height: 300px;
    }
}

@media screen and (max-width: 750px) {
    .project-img {
        width: 80%;
    }
}

@media screen and (max-width: 550px) {
    .project-img {
        width: 100%;
    }
}
