<div class="content">
  <h2 class="section-header is-bold is-uppercase">Projects</h2>

  <div class="seg">
    <h4 class="is-bold">Family Connections and People Search</h4>
    <h5>Angular, Node.js, PostgreSQL, GraphQL, TypeORM</h5>

    <div class="project-content">
      <div class="project-img">
        <iframe
          src="https://www.youtube.com/embed/dSoptkDNyNI"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        >
        </iframe>
      </div>

      <div class="project-description">
        <p>
          Family Connections is a web app utilized primarily by social workers who
          are dedicated to finding permanent homes for children in foster care.
          The app allows the workers to create family trees for the children and
          keep track of their interactions with their relatives. Using Angular,
          I help to create a sophisticated and modern user interface that
          provides users with the necessary tools to accomplish these tasks. On
          the backend, I use GraphQL and TypeORM to manage a database of each
          social worker's teams, cases, engagements with relatives, their tasks,
          audit logs, and much more.
        </p>
        <p>
          People Search is a standalone app that has an integration right in
          Family Connections. It allows the user to enter known information
          about a relative of the child and run a search to find any matches, as
          well as find other potential relatives that are associated. The
          integration with Family Connections gives the user the convenience of
          performing these searches on people already in the family tree, and
          import new connections with the click of a button.
        </p>
        <p>
          Read more about these tools on the
          <a href="https://connectourkids.org/tools/" target="_blank"
            >Connect Our Kids website</a
          >.
        </p>
      </div>
    </div>
  </div>

  <div class="seg">
    <h4 class="is-bold">Caduceus</h4>
    <h5>C#, Unity</h5>

    <div class="project-content">
      <div class="project-img">
        <img
          class="media_left"
          src="../../assets/img/caduceus.png"
          alt="Caduceus cover art"
        />
      </div>

      <div class="project-description">
        <p>
          Larger-scale indie video game project produced by WolverineSoft
          Studios at the University of Michigan.
        </p>
        <p>
          Read more about my contributions on my
          <a routerLink="cloud">Project Cloud blog</a>.
        </p>
      </div>
    </div>
  </div>

  <div class="seg">
    <h4 class="is-bold">Project Variegata</h4>
    <h5>Python, Flask</h5>

    <div class="project-content">
      <div class="project-description">
        <p>
          Independent research project conducted under the guidance of Austin
          Yarger. The goal is to explore how machine learning can be used to
          create unique stories and narratives in a video game by automatically
          structuring a tree of relevant events based on what is currently
          happening to the player.
        </p>
      </div>
    </div>
  </div>

  <div class="seg">
    <h4 class="is-bold">Mission O-Possumble</h4>
    <h5>C#, Unity</h5>

    <div class="project-content">
      <div class="project-img">
        <iframe
          src="https://www.youtube.com/embed/2Z_BOzeCNvE"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        >
        </iframe>
      </div>

      <div class="project-description">
        <p>
          An original game made from scratch in Unity with a team of three other
          students. Using an Agile workflow over the course of about seven
          weeks, we made all original assets and art to make a unique and
          challenging game that ended up winning second place in the Umich and
          EMU showcase at the end of the semester.
        </p>

        <p>
          See more about Mission O-Possumble and download for free at our
          <a
            href="https://sbtgsstudios.itch.io/mission-o-possumble"
            target="_blank"
            >itch.io page!</a
          >
        </p>
      </div>
    </div>
  </div>

  <div class="seg">
    <h4 class="is-bold">Timber</h4>
    <h5>C#, Unity</h5>

    <div class="project-content">
      <div class="project-description">
        <p>An original game made as a two-week rapid prototype.</p>
      </div>
    </div>
  </div>

  <div class="seg">
    <h4 class="is-bold">Metroid Remake</h4>
    <h5>C#, Unity</h5>

    <div class="project-content">
      <div class="project-img">
        <img
          src="../../assets/img/metroid.gif"
          alt="Metroid"
        />
      </div>

      <div class="project-description">
        <p>
          A remake of the first stage of the 1986 NES game Metroid. Made with
          one teammate as an introduction to game development.
        </p>
      </div>
    </div>
  </div>

  <div class="seg">
    <h4 class="is-bold">Search Engine</h4>
    <h5>Python/Flask, Bash</h5>

    <div class="project-content">
      <div class="project-description">
        <p>
          An end-to-end search engine built mainly in Python utilizing a
          MapReduce pipeline to construct an inverted index from Wikipedia
          articles, along with a REST API and Flask app to create a user
          interface.
        </p>

        <p>Concepts learned:</p>
        <ul>
          <li>Parallel data processing with MapReduce.</li>
          <li>Information retrieval based on tf-idf and PageRank scores</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="seg">
    <h4 class="is-bold">Instagram Clone</h4>
    <h5>Python/Flask, JavaScript/React, HTML/CSS, SQL, AJAX, REST</h5>

    <div class="project-content">
      <div class="project-description">
        <p>A fully user-interactive Instagram clone.</p>

        <p>Concepts learned:</p>
        <ul>
          <li>Templating sites through Jinja with a Flask app.</li>
          <li>Server-side and client-side dynamic concepts</li>
          <li>Asynchronous programming with AJAX.</li>
          <li>REST APIs</li>
          <li>
            Using JavaScript (specifically React) for creating a better user
            experience.
          </li>
          <li>Scaling a site and deploying to AWS.</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="seg">
    <h4 class="is-bold">SAD Detection</h4>
    <h5>Python</h5>

    <div class="project-content">
      <div class="project-description">
        <p>
          A machine learning-oriented Python program that scans and analyzes
          Twitter users' tweets to find trends in sentiment to predict the
          possibility of time-based emotional disorders such as Seasonal
          Affective Disorder (SAD) or Bipolar Disorder.
        </p>
      </div>
    </div>
  </div>

  <div class="seg">
    <h4 class="is-bold">LC2K</h4>
    <h5>C, Assembly</h5>

    <div class="project-content">
      <div class="project-description">
        <p>
          A simulation of the Little Computer 2000 (LC2K) written in C. This
          simulated computer included an assembler to convert assembly code for
          a custom ISA to machine code, single cycle, multi cycle, and pipelined
          processors, a linker, and a cache system.
        </p>
      </div>
    </div>
  </div>

  <div class="seg">
    <h4 class="is-bold">theCurlyBot</h4>
    <h5>Python</h5>

    <div class="project-content">
      <div class="project-description">
        <p>
          A reddit bot - called theCurlyBot - that I created with a small team
          using Python. Our bot pulls fake news headlines from the subreddit
          /r/TheOnion, and real (but fake-sounding) headlines from
          /r/NotTheOnion. It then runs a natural language processing algorithm
          on the pool of headlines that it continually collects, and makes its
          own fake news headlines that it then posts to its own subreddit.
        </p>
      </div>
    </div>
  </div>
</div>
