<div class="content">
  <h2 class="section-header is-bold">Caduceus</h2>

  <div class="seg">
    <p>
      Caduceus is an FPS Action-Adventure game made in Unity by WolverineSoft
      Studio within the Unviersity of Michigan. Immersed in a world inspired by
      Greek mythology, the player takes on the role of Hermes and must explore
      the Cloud Interior - a giant cave-like system in the sky - to discover why
      clouds have stopped producing rain. Along the way, Hermes must fight
      unique creatures and solve the problem at hand in order to bring much
      needed rain back to the people of Earth.
    </p>
    <iframe
      src="https://itch.io/embed/1004338"
      height="167"
      width="552"
      frameborder="1"
    >
      <a href="https://wolverinesoft-studio.itch.io/caduceus"
        >Caduceus by WolverineSoft Studio</a
      ></iframe
    >
  </div>

  <div class="seg">
    <h3 class="is-bold">Sprints</h3>
<div class="sprint-list">
    <p><a routerLink="pre-alpha-i">Pre-Alpha I</a></p>
    <p><a routerLink="pre-alpha-ii">Pre-Alpha II</a></p>
    <p>
      <a routerLink="pre-alpha-iii-pre-beta-i">Pre-Alpha III / Pre-Beta I</a>
    </p>
    <p>
      <a routerLink="pre-beta-i-pre-beta-ii"
        >Pre-Beta I / Pre-Beta II</a
      >
    </p>
    <p><a routerLink="gold">Gold</a></p>
</div>
  </div>
</div>
