@import "../../variables.scss";

ul {
    list-style-type: disc;
    padding-left: 50px;
}

.extra-content-wrapper {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 100%;

    .facts-list {
        width: 60%;

        h3 {
            font-size: 32px;
            margin-bottom: 25px;
        }
    }

    .img-wrapper {
        display: flex;
        margin-top: 20px;
        margin-left: 50px;
        justify-content: center;
        align-items: center;
        padding-top: 15px;
        flex-wrap: wrap;
        min-width: 300px;
        width: calc(40% - 50px);

        img {
            width: 100%;
            border-radius: 20px;
            box-shadow: 10px 10px 50px -10px $black;
        }
    }
}

@media screen and (max-width: 1200px) {
    .extra-content-wrapper {
        display: block;
    }

    .facts-list {
      width: 100% !important;
      display: block;
      margin: 0 auto;
    }

    .img-wrapper {
        width: 90%;
        margin: 20px auto !important;
        display: block;

        img {
            margin: 0 auto;
        }
    }
  }
