<div class="content">
    <h2 class="is-bold">Gold</h2>

    <div class="seg">
        <h3 class="blog_topic"><strong>Final Changes</strong></h3>
        <p>The project is done! At the end, we did some final bugfixes and general polishing to get everything ready
        for the showcase. For the most part, this phase was administrative stuff to make sure everything was looking
        good in order to prepare for the <a href="https://494showcase.com/" target="_blank">Umich/EMU Showcase</a>.
            Working with the other members of WolverineSoft has been an amazing experience, and I am very proud of
            how far the project has come. I certainly look forward to seeing what the studio creates in future
            semesters, and I hope that I can be a part of it.</p>
    </div>

  <div class="seg">
        <h3 class="blog_topic"><strong>Caduceus</strong></h3>
    <p>Without further ado, here's the itch.io page for Caduceus! Experience the game in all its glory.</p>
    <iframe src="https://itch.io/embed/1004338" height="167" width="552" frameborder="0">
      <a href="https://wolverinesoft-studio.itch.io/caduceus">Caduceus by WolverineSoft Studio</a></iframe>
  </div>
</div>
