<div id="content">
    <div style="display: inline-block; margin-right: 100px; vertical-align: top">
        <h2>Languages</h2>
        <ul>
            <li>C/C++/C#</li>
            <li>Python</li>
            <li>Flask</li>
            <li>HTML/CSS</li>
            <li>JavaScript</li>
            <li>React</li>
            <li>SQL</li>
            <li>Java/Kotlin</li>
            <li>Go</li>
        </ul>
    </div>

    <div style="display: inline-block; margin-right: 100px; vertical-align: top">
        <h2>Software</h2>
    <ul>
        <li>Unity</li>
        <li>Git</li>
        <li>Wordpress</li>
        <li>Linux systems</li>
        <li>JetBrains IDEs</li>
        <li>Visual Studio/VS Code</li>
        <li>Jira</li>
        <li>Adobe Creative Suite</li>
        <li>GIMP</li>
    </ul>
    </div>

    <div style="display: inline-block; vertical-align: top">
        <h2>Other Skills</h2>
    <ul>
        <li>Agile Development</li>
        <li>Problem Solving</li>
        <li>Creativity</li>
        <li>Leadership</li>
        <li>Keeping plants alive</li>
    </ul>
    </div>
</div>