<div class="content">
    <h2 class="is-bold">March 3, 2021</h2>

    <div class="seg">
        <h3 class="blog_topic"><strong>Progress So Far</strong></h3>
        <p>The big ideas for this step have been organizing extracted keywords for use in a custom search engine, and
            creating graphs for story traversal.</p>

        <p>The main technologies used for this step include:</p>
        <ul>
            <li>Python/Flask</li>
            <li>spaCy</li>
            <li>NetworkX</li>
            <li>Matplotlib</li>
            <li>TextWorld</li>
            <li>Hadoop</li>
        </ul>
    </div>

    <div class="seg">
        <h3 class="blog_topic"><strong>Keywords</strong></h3>
        <p>In the last post, I discussed some different algorithms for extracting keywords from a piece of text.
            Moving forward, I have decided to take more of a TF-IDF approach for dealing with keywords. This will
            allow a more seamless system for searching through cached events based on relevant terms. By doing this,
            I am creating a simple search engine, using a streamlined version of <a href="https://hadoop.apache.org/"
                                                                                    target="_blank">Hadoop</a> for
            speeding up the backend logic and managing events. While it is a bit more
            work than the previous approaches I have considered, I expect the TF-IDF approach to make things much
            easier to manage down the road.
        </p>
        <p>I am also researching some other techniques for improving searches. Some examples include fuzzy searching
            for dealing with words that are similarly written (but not quite exact) and vector similarity based on
            <a href="https://wordnet.princeton.edu/" target="_blank">WordNet</a> to find words with similar
            meaning. Technologies such as <a href="https://spacy.io/" target="_blank">spaCy</a> have useful tools
            for tackling these types of problems.</p>
    </div>

    <div class="seg">
        <h3 class="blog_topic"><strong>TextWorld Woes</strong></h3>
        <p><a href="https://www.microsoft.com/en-us/research/project/textworld/" target="_blank">TextWorld</a> is a
            tool created by Microsoft for generating text adventure stories specifically for machine learning
            applications. It sounds perfect! Unfortunately, I have not been able to get the installation to work on
            my machine. Looking through the issues on their github page, there's others that have had similar
            problems. After lots of research and troubleshooting, I have still not been able to get it to work
            properly. I may go back and try some more workarounds, but for now I am just hoping that the creators
            take notice and release a fix.</p>
    </div>

    <div class="seg">
        <h3 class="blog_topic"><strong>Manual Story Interaction</strong></h3>
        <p>I spent some time actually going through some of the stories on
            <a href="http://chooseyourstory.com/" target="_blank">Choose Your Story</a>, this time paying much
            closer attention to the structure that most of them typically employ. During this, I realized that I
            have been thinking of these text adventures in a too-specific way. Rather than thinking of these stories
            as trees, it is better to think of them as more general graphs. This is because doing an action on a
            given event could very well take the player back to a different event that was previously experienced.
            Using a tree model, it assumes that the player can only move forward in a story, where they can actually
            move through the story in a circular fashion depending on how the author designs it.</p>
        <p>In addition to playing through a number of stories and drawing out the paths they offer, I also tried
            making my own for testing purposes. Using the system on Choose Your Story is a bit cumbersome, but works
            well enough for its purpose. The website does have some fairly strict rules that a story must adhere to
            before being published, so it will take a bit more effort before I can actually use it for tests. For
            example, they have a minimum amount of required pages and words that a story must have, and they require
            your story to be in the editing phase for at least two days before posting. Because of this, I am
            continuing to carefully design a story that I know inside and out that will fulfill a good amount of
            test cases before spending too much time creating one that may not even meet the requirements.</p>
    </div>

    <div class="seg">
        <h3 class="blog_topic"><strong>Graph Creation</strong></h3>
        <p>Once I realized a graph model would be a better approach (specifically directed graphs), I sought out tools
            to generate graphs for visualization and model-related training during the scraping phase. The python
            library <a href="https://networkx.org/" target="_blank">NetworkX</a> seems to be a good tool for the job.
            Rewriting parts of the web scraper and applying the NetworkX functionality, I am able to generate
            graphs like the following:</p>
        <img alt="story graph" src="../../../assets/img/variegata/variegata_graph.png"/>

        <div class="excerpt">
            <ol class="code" start="0" style="list-style-type: numeric">
                <li>Hello, adventurer! It seems that some random village has been beset by that big ol' beastie
                    pictured over there. Cute, isn't he? Of course, being the hero that you are, it's obviously your
                    duty to fight it. So, what are you waiting for? First off, you'll have to select your job. Your
                    job affects what abilities you have.</li>
                <li>Excellent choice! You charge off to beat up the Behemoth...</li>
                <li>Sword in hand, you stand in a ready stance. The Behemoth growls.</li>
                <li>You attack the Behemoth. It swings a massive claw at you. Ouch.</li>
                <li>You leap forward, slashing twice at the Behemoth. The Behemoth counters with a mighty blow.</li>
                <li>Your health is... well... how much health you have. If it drops below zero, it's game over. Don't
                    worry, it's not going to stay at 1. Since different jobs will have different amounts of health,
                    you'll get the rest of your health after you click the link to begin the fight. The variable
                    entitled Behemoth is how much health
                    your foe has. You want this to drop to zero. Mana is required to use certain skills. Once it drops
                    to zero... well, it's not game over, but you won't be able to use some skills. Once again, you'll
                    get the rest of your mana after you begin the fight. Your Drivemeter will raise as you perform
                    actions. Once it reaches ten, you will be able to perform an Overdrive attack. The Overdrive varies
                    with each job.</li>
                <li>Excellent choice! You charge off to zap, burninate or freeze the Behemoth (depending on your
                    mood)...</li>
                <li>Staff in hand, you stand in a ready stance. The Behemoth snarls.</li>
                <li>You cast Fire at the Behemoth. It responds with Thunder.</li>
                <li>You cast Thunder. Unfortunately, this Behemoth absorbs lightning. So, basically, you've just
                    healed him. It grins infuriatingly at you.</li>
                <li>You cast Blizzard. Shivering, the Behemoth counters with Thunder.</li>
                <li>You cast Cure, and restore some of your health.</li>
                <li>Excellent choice! You charge off to beat up the Behemoth... but not before snatching these
                    items.</li>
                <li>You stand, daggers at the ready. The Behemoth bares its teeth at you.</li>
                <li>You examine the Behemoth closely... very closely. You determine that you have approximately a
                    1 in 3 chance of successfully stealing an item from it, and that using a lightning-based attack
                    will simply heal the monster. You also determine that the Behemoth is allergic to Scan by
                    experience when it lets out a mighty sneeze in your direction. Although it doesn't do that much
                    damage, it's still pretty annoying.</li>
                <li>You attempt to steal from the Behemoth...</li>
                <li>Your attempt is unsuccessful. The Behemoth, a wee bit irked at you, casts Thunder.</li>
            </ol>
        </div>

        <p>For readability, the labels on the graph nodes correspond to the index of the events in the list. As we
            can see, there are cases where two events go back and forth between each other and cycles are formed.
            One thing I am working on is finding a good way to also mark what actions are being made to connect any
            two events, without making the graph look too cluttered.</p>
    </div>

    <div class="seg">
        <h3 class="blog_topic"><strong>Further Research</strong></h3>
        <p>The final topic I would like to touch on is further readings I have come across. After asking around on
            some machine learning subreddits, I was pointed toward the work of
            <a href="http://eilab.gatech.edu/mark-riedl" target="_blank">Mark Riedl</a>. Mr. Riedl has done
            extensive research on machine learning and AI, and has some publications specifically on story
            generation. I will be exploring some of his previous work to see if I can get some insight to apply to
            Project Variegata.
        </p>
    </div>

    <div class="seg">
        <h3 class="blog_topic"><strong>Going Forward</strong></h3>
        <p>Next steps include making more progress on the event search engine, (hopefully) getting TextWorld to work
            on my system, getting a good testable story posted to Choose Your Story, and getting a better automated
            and more in-depth system going for creating story graphs. As always, I will be reading more papers and doing
            plenty of research to try to discover any other techniques that may make everything go smoother.</p>
    </div>
</div>
