<div class="content">

    <h2 class="section-header is-bold is-uppercase">Skills</h2>

    <div class="skill-group">
        <h3 class="is-bold">Programming Languages</h3>

        <div class="skill-list">
            <app-skill icon_name='c' skill='C' percentage="90"></app-skill>
            <app-skill icon_name='cplusplus' skill='C++' percentage="90"></app-skill>
            <app-skill icon_name='csharp' skill='C#' percentage="80"></app-skill>
            <app-skill icon_name='javascript' skill='JavaScript' percentage="80"></app-skill>
            <app-skill icon_name='python' skill='Python' percentage="95"></app-skill>
        </div>
    </div>

   <div class="skill-group">
        <h3 class="is-bold">Web Technologies</h3>

        <div class="skill-list">
            <app-skill icon_name='angularjs' skill='Angular' percentage="70"></app-skill>
            <app-skill icon_name='html5' skill='HTML5' percentage="95"></app-skill>
            <app-skill icon_name='css3' skill='CSS3' percentage="95"></app-skill>
            <app-skill icon_name='react' skill='React' percentage="50"></app-skill>
            <app-skill icon_name='nodejs' skill='Node.js' percentage="55"></app-skill>
            <app-skill icon_name='flask' skill='Flask' percentage="70"></app-skill>
            <app-skill icon_name='mysql' skill='SQL/MySQL' percentage="65"></app-skill>
            <app-skill icon_name='mongodb' skill='MongoDB' percentage="65"></app-skill>
        </div>
    </div>

    <div class="skill-group">
        <h3 class="is-bold">Software and OS</h3>

        <div class="skill-list">
            <app-skill icon_name='git' skill='Git' percentage="95"></app-skill>
            <app-skill icon_name='vscode' skill='Visual Studio/VS Code' percentage="95"></app-skill>
            <app-skill icon_name='jetbrains' skill='Jetbrains IDEs' percentage="90"></app-skill>
            <app-skill icon_name='linux' skill='Linux Systems' percentage="90"></app-skill>
            <app-skill icon_name='windows8' skill='Windows' percentage="85"></app-skill>
            <app-skill icon_name='wordpress' skill='Wordpress' percentage="80"></app-skill>
            <app-skill icon_name='gimp' skill='GIMP' percentage="65"></app-skill>
        </div>
    </div>

    <div class="skill-group">
        <h3 class="is-bold">Additional Skills</h3>

            <div class="is-bold">Agile Development</div>
            <div class="is-bold">Problem Solving</div>
            <div class="is-bold">Creativity</div>
            <div class="is-bold">Leadership</div>
            <div class="is-bold">Keeping plants alive</div>
    </div>
</div>
