<div class="tabs">

    <a routerLink="" routerLinkActive="selected" [routerLinkActiveOptions]="{ exact: true }" class="tab about-tab">
        <div class="tab-tile">
            <h3>About</h3>
        </div>
    </a>

    <a routerLink="skills" routerLinkActive="selected" class="tab skills-tab">
        <div class="tab-tile">
            <h3>Skills</h3>
        </div>
    </a>

    <a routerLink="experience" routerLinkActive="selected" class="tab experience-tab">
        <div class="tab-tile">
            <h3>Experience</h3>
        </div>
    </a>

    <a routerLink="projects" routerLinkActive="selected" class="tab projects-tab">
        <div class="tab-tile">
            <h3>Projects</h3>
        </div>
    </a>

    <a href="https://docs.google.com/document/d/1K2KTX0FovkMfK4cbRxCOpO57B9k4QMRj0D5iNUB1WkM/edit?usp=sharing" target="_blank" class="tab resume-tab">
        <div class="tab-tile">
            <h3>Resume</h3>
        </div>
    </a>

</div>
