@import "../../variables.scss";

.skill-wrapper {
    // display: flex;
    // flex-direction: column;
    width: 100%;
    max-width: 450px;
}

.skill {
    display: flex;
    align-items: center;
    gap: 5px;
    height: 60px;

    .skill-name {
        // display: flex;
        align-items: center;
        // position: relative;
        // top: 4px;
        font-size: 32px;
        padding-left: 15px;
        // line-height: 60px;
    }

    ng-icon {
        font-size: 32px;
    }
}

.exp-bar {
    width: 100%;
    height: 25px;
    margin-top: 20px;
    position: relative;

    .exp-bar-back {
        width: 100%;
        height: 100%;
        border: 3px solid $color-2;
        position: absolute;
    }

    .exp-bar-front {
        height: 100%;
        position: absolute;
        background-color: rgba($color-2, 0.8);
    }
}


.devicon-plain {
    font-size: 60px;
}

.colored {
    color: $color-2;
}

@media screen and (max-width: 1450px) {
    .skill-name {
        font-size: 24px !important;
        top: 10px !important;
    }
}

/* @media screen and (max-width: 1280px) { */
/* } */

/* @media screen and (max-width: 950px) { */
    /* .skill-wrapper { */
        /* display: block; */
    /* } */
/* } */

@media screen and (max-width: 1280px) {
    /* .skill-wrapper {
        display: block;
    } */

    .skill-name {
        font-size: 32px !important;
        top: 4px !important;
    }
/*
    .devicon-plain {
        font-size: 50px;
    }

    .exp-bar {
        margin-top: 10px;
        height: 15px;
    } */
}
