@import "../../variables.scss";

.project-content {
    margin-top: 40px;
    display: flex;
    gap: 40px;
}

.project-description {
    :first-child {
        margin-top: 0;
    }

    :last-child {
        margin-bottom: 0;
    }
}

@media screen and (max-width: 950px) {
    .project-content {
        display: block;

        img, iframe {
            width: 100%;
            margin: 10px auto;
        }
    }
}
