<div class="content">
    <h2 class="is-bold">Pre-Alpha III / Pre-Beta I</h2>

    <div class="seg">
        <h3 class="blog_topic"><strong>Player Mechanic Updates</strong></h3>
        <p>In order to make some scripts a bit easier to work with from the designers' perspectives, I changed up a
            couple of my previous player scripts. Adding tooltips, comments, events, etc. will make it more clear
            what variables do what for other people using the scripts. Additionally, I made did some bug
            fixes/improvements to clean the mechanics up a bit. Finally, I helped the audio and VFX teams to bring
            their components into the mechanics.</p>
    </div>

    <div class="seg">
        <h3 class="blog_topic"><strong>Move to Level Design</strong></h3>
        <p>As the player mechanics came closer to their conclusions and some features were cut from the scope, I
            ended up moving to the level-design pod to help them out. They had a very robust procedural generation
            system for the levels already implemented, so there was a lot of existing code for me to get familiar
            with. I met with the other programmers in the pod and the went through the system with me on a high
            level, then on my own time I read through in more detail to try to get a good understanding of how all
            of the elements worked together on a lower level.</p>
    </div>

    <div class="seg">
        <h3 class="blog_topic"><strong>Level Generation Bug Fixes</strong></h3>
        <p>Once I became more familiar with the codebase of the level generation system, I dove in with the other
            programmers to start fixing some critical bugs. Particularly, we found fixes for generating nav mesh
            links that allow enemies to be able to traverse across different platforms rather than being confined
            to the area where they were spawned, and preventing nav meshes from being spawned on moving platforms
            to fix a bug that caused enemies to float in mid air.</p>
        <p>There are still more game-breaking bugs that we need to fix, but we made a lot of progress on finding
            solutions. For example, sometimes there is no platform that spawns under the player in the first level,
            causing them to just fall into nothingness. Obviously, this is something that would make the game pretty
            unplayable, so this is one bug that is a top priority.</p>
    </div>

    <div class="seg">
        <h3 class="blog_topic"><strong>Playtesting</strong></h3>
        <p>In order to get a better idea of more of the bugs that are being experienced, I spent a bit of time just
            generating levels and playing through parts of them. This helped me understand more of the issues that
            we are trying to fix that the others already knew about.</p>
    </div>

    <div class="seg">
        <h3 class="blog_topic"><strong>Meetings</strong></h3>
        <p>In addition to the normal studio meetings, I spent a lot of time meeting with the other members of the
            level-design team, as well as the enemy team since their implementations are very closely intertwined with
            ours. Because so much of the level generation functionality is involved with the functionality of other
            elements, we have mostly done pair-programming sessions rather than individual work. As a result, a
            large portion of the hours spent this week were dedicated to meeting with others.</p>
    </div>
</div>
