@import "../../variables.scss";
@import "../hamburgers/hamburgers.scss";

.app-wrapper {
  height: 100%;
  display: flex;
  background-color: $color-1;
}

.sidebar {
  height: 100%;
  width: 20%;
  min-width: 300px;
  padding: 0 50px;
  flex-shrink: 0;
  position: relative;
  display: flex;
  flex-direction: column;
}

.sidebar-header {
  fa-icon {
    font-size: 65px;
    color: $color-2;
    padding-top: 25px;
  }
}

.mobile-header {
  display: none;
  z-index: 99;
  position: relative;
  background: $color-1;
  border-bottom: 3px solid $color-2;
  padding-bottom: 30px;
}

.mobile-menu {
  position: fixed;
  z-index: 1;
  top: -120%;
  width: 100%;
  min-height: 100vh;
  transition: 0.5s ease;
  background: $color-1;
}

.open {
  display: block !important;
  top: 105px;
}

.main-section {
  width: 100%;
  height: 100%;
  flex-grow: 1;
  position: relative;
}

h1 {
  text-align: center;
  color: $color-2;
  padding-top: 50px;
  line-height: 1;
}

.content-section {
  width: calc(100% + 10px);
  height: calc(100vh - 60px);
  border-left: 3px solid $color-2;
  overflow-y: scroll;
  margin-top: 30px;
  padding-right: 12%;
}

.socials {
  padding: 50px 0;
  display: flex;
  flex-shrink: 1;
  justify-content: space-evenly;

  a {
    color: $color-2;

    :hover {
      color: rgba($color-2, 0.8);
    }

    :active {
      color: $color-2;
    }
  }

  fa-icon {
    font-size: 36px;
    transition: all 0.2s ease-out;
  }
}

.footer {
  font-size: 12px;
  text-align: center;
  padding-bottom: 25px;
  flex-grow: 1;
  position: relative;

  p {
    position: absolute;
    bottom: 25px;
    width: 100%;
  }
}

@media screen and (max-width: 950px) {
  .app-wrapper {
    display: block;
    width: 100%;
  }

  .content-section {
    border-left: none;
    padding-top: 30px;
    margin: 0;
    padding-right: 10px;
    padding-bottom: 100px;
  }

  .sidebar {
    display: none;
  }

  .mobile-header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
    margin: 0;

    .menu-icon {
      margin-left: auto;
      align-self: flex-end;
      cursor: pointer;
      padding: 0;
      margin-bottom: 8px;
    }

    h1 {
      padding-bottom: 5px;
      margin-right: 20px;
    }
  }
}

@media screen and (max-width: 550px) {
  h1 {
    font-size: 42px;
  }

  .open {
    top: 95px;
  }

  .menu-icon {
    margin-bottom: 5px !important;
  }

  .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
    width: 30px;
  }
}

@media screen and (max-width: 475px) {
  .mobile-header {
    padding-left: 30px;
    padding-right: 30px;
  }

  h1 {
    font-size: 36px;
  }

  .menu-icon {
    margin-bottom: 3px !important;
  }

  .open {
    top: 90px;
  }
}

@media screen and (max-width: 375px) {
  h1 {
    font-size: 28px;
  }

  .menu-icon {
    margin-bottom: 0 !important;
  }

  .open {
    top: 83px;
  }

  .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
    width: 20px;
    height: 3px;
  }
}

@media screen and (max-width: 315px) {
  .mobile-header {
    padding-left: 10px;
    padding-right: 10px;
  }
}
