<div class="content">

    <h2 class="section-header is-bold is-uppercase">Skills</h2>

    <div class="skill-group">
        <h3 class="is-bold">Programming Languages</h3>

        <div class="skill-list">
            <app-skill icon_name='c' skill='C' percentage="90"></app-skill>
            <app-skill icon_name='cplusplus' skill='C++' percentage="90"></app-skill>
            <app-skill icon_name='csharp' skill='C#' percentage="80"></app-skill>
            <app-skill icon_name='javascript' skill='JavaScript' percentage="80"></app-skill>
            <app-skill icon_name='python' skill='Python' percentage="95"></app-skill>
        </div>
    </div>

   <div class="skill-group">
        <h3 class="is-bold">Web Technologies</h3>

        <div class="skill-list">
            <app-skill icon_name='angularjs' skill='Angular' percentage="70"></app-skill>
            <app-skill icon_name='cplusplus' skill='C++' percentage="90"></app-skill>
            <app-skill icon_name='python' skill='Python' percentage="95"></app-skill>
            <app-skill icon_name='javascript' skill='JavaScript' percentage="80"></app-skill>
        </div>
    </div>
</div>
